﻿@model List<ITask>

@{
    ViewData["Title"] = "Задачи";
}
<h1>Helloy!</h1>
<p>Добавить сюда общее описание страницы или что-то подобное</p>

@foreach (var task in Model)
{
<div id="task-@task.Number" class="task numeric">
    <h2>Задача №@task.Number</h2>
    <p>
        <b>Входные данные:</b> @task.InputText<br />
        <b>Алгоритм:</b> @task.AlgorithmText<br />
        <b>Выходные данные:</b> @task.OutputText<br />
    </p>
    <label for="input-text">Входные данные:</label><br />
    <input type="text" data-task-number="@task.Number" class="form-control task-input" >

    <div class="row">
        <div class="col-sm-3">
            <button type="button" id="btn-task-@task.Number" class="btn">Запустить</button>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-danger hidden" role="alert">
                <b>Ошибка: </b><span class="input-error">Проверьте входные данные!</span>
            </div>
        </div>
    </div>
    <label for="outnput-text">Выходные данные:</label><br />
    <input type="text" class="form-control task-output" readonly="readonly">
</div>
<hr />
}

@section Scripts{
    <script type="text/javascript">
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && charCode < 48) || charCode > 57) {
                return false;
            }
            return true;
        }

        $(function () {
            $(".task button").on("click", function () {
                var taskOne = $(this).parents(".task");
                var inputOne = taskOne.find(".task-input");
                var taskNumber = inputOne.data("task-number");
                var inputValue = inputOne.val();
                var inputError = taskOne.find(".input-error");

                var calcUrl = "/Tasks/" + taskNumber;

                $.post(calcUrl, {input: inputValue})
                    .done(function (result) {
                        taskOne.children(".task-output").val(result);
                        inputError.parent().addClass("hidden");
                    })
                    .fail(function (xhr, status, error) {
                        inputError.text(xhr.responseText === "" ? error : xhr.responseText);
                        inputError.parent().removeClass("hidden");
                    });
            })
        })
    </script>
}